.app-root {
    background-color: #2f343f;
    height: 100%;
    color: #d3dae3;
}

* {
    box-sizing: border-box;
}

#status-area {
    height: 100px;
}

#content-area {
    display: flex;
    height: calc(100% - (100px + 54px));
    @media screen and (max-width: 760px) {
        flex-direction: column-reverse;
        #sidebar-area {
            width: 100%;
        }
    }
}

#console-area {
    flex-grow: 1;
    padding: 0 10px;
}

#sidebar-area {
    grid-area: si;
    width: 250px;
    min-height: 100px;
}

#console-field {
    width: 100%;
    resize: none;
    height: 100%;
}

#command-area {
    height: 34px;
    display: flex;
    gap: 10px;
    margin: 10px;
}

button, input[type=button], input[type=submit] {
    border-radius: 3px;
    padding: 0 16px;
    background-color: #414654;
    color: unset;
    border: 1px solid #6c717b;
    transition-duration: 100ms;
    transition-property: border-color, background-color;

    &:hover, &:active, &:focus {
        border-color: #5294e2;
    }

    &:active, &:focus {
        background-color: #5395e3;
    }

    &:active {
        transform: translate(1px, 1px);
    }
}

textarea, input[type=text], input[type=password], input[type=email] {
    background-color: #404552;
    border: 1px solid #585e68;
    color: unset;
    padding: 0 8px;
    border-radius: 3px;
}

#command-field {
    flex-grow: 1;
}